---
import GameInfo from "../../components/GameInfo"
import GamePicture from "../../components/GamePicture"
import AcceptedCard from "../../components/AcceptedCard"
import AdminSettings from "../../components/AdminSettings"
import CommentInput from "../../components/CommentInput"
import Layout from "../../layouts/Layout.astro"
import { getPostById, getPostDetailsById } from "../../db/prisma/queries"
import type { User } from "@prisma/client"

const { id } = Astro.params
const postId = parseInt(id!)
const post = await getPostById(postId)
const details = await getPostDetailsById(postId)
const user = {id: 1, name: 'glebchanskiy',role: "TESTER"} as User

---

<Layout>
  {
    post && (
      <>
        <div class="flex flex-col mb-[39px] gap-[17px]">
          <div class="flex flex-row gap-[10px]">
            
            <GamePicture postId={post.id} userId={user.id} likes={post.likes} client:load />
            <GameInfo
              title={post.title}
              type={post.type}
              rules={["3min", "Points", "5-check", "8th=QBRN"]}
              rules={post.gamerules.map((rule) => rule.ruleType.name)}
              user={post.author.name}
              createdAt={post.createdAt}
              description={post.description}
              variantLink={`/${post.id}`}
            />
          </div>

          {details && <AdminSettings user={user} details={details} client:load />}

          <AcceptedCard verdict="Nice work on the variant! Quite a good amount of correct design choices allows for much more advanced zombie manipulation as well as for complex tactics implying unwinding is more than a good strategy and sometimes it is good to give up space to get it back a few moves later. Overall, the only thing that does not fit is the time control, so we're proposing to change it to 2|7 as to allow players to calculate more advanced zombie manipulation." />
        </div>
        <CommentInput />
      </>
    )
  }
</Layout>
