---
import 'styles/font.css'
import 'styles/tooltip.css'
import 'virtual:windi.css'
import { ViewTransitions } from 'astro:transitions'
import Navigation from 'components/Navigation.astro'

type LayoutProps = {
  title: string
	ogImage?: string
}

const { title, ogImage } = Astro.props as LayoutProps
const { pathname, href } = Astro.url

Astro.response.headers.set('Cache-Control', 'private, max-age=0')

const { user } = Astro.locals

---

<html lang="en" translate="no">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon/logo_512.png" />
		<link rel="manifest" href="/manifest.json" />
		<meta name="viewport" content="width=device-width" />
		<meta name="google" content="notranslate">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={href} />
		<meta property="og:image" content={ogImage} />
		<meta property="og:site_name" content="Variants World">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="Variants World">
		<meta name="twitter:image" content={ogImage}>
		<meta name="twitter:title" content={title}>
		<script is:inline>
			document.addEventListener('astro:after-swap', (e) => {
				document.querySelector('#app').scrollTo({ top: window.history.state.scrollY || 0, behavior: 'instant' })
			})
			document.addEventListener('astro:page-load', () => {
				document.querySelector('#app').addEventListener('scroll', e => window.scrollY = e.currentTarget.scrollTop)
			})
		</script>
		<ViewTransitions fallback="animate" />
	</head>
	<body class="bg-dark text-text overflow-y-auto! text-base">
		<div transition:persist>
			<Navigation username={user?.username} path={pathname} profileUrl={user?.profileUrl} isGuest={user.guest} server:defer>
				<Navigation path={pathname} isGuest={user.guest} slot='fallback' />
			</Navigation>
		</div>
		<div id="app" class="absolute inset-0 top-12 pt-8 overflow-y-scroll scroll-smooth pl-2 ">
			<slot />
		</div>
	</body>
</html>

<style lang="sass" is:global>
	::selection 
		background: #ff6149a4
		color: #e6e6e6

	::-webkit-scrollbar
		width: 0.5rem
	::-webkit-scrollbar-thumb
		@apply bg-border-light rounded-sm
		&:hover
			@apply bg-primary

	.light-scrollbar
		&::-webkit-scrollbar
			@apply w-[0.2rem]
		&::-webkit-scrollbar-thumb
			@apply bg-gray
			&:hover
				@apply bg-primary

	::view-transition-old(root),
	::view-transition-new(root)
		animation-duration: 100ms

	::view-transition-group(nav)
		z-index: 1000

	body
		--primary: #AE4939
		--secondary: #D3543F
		--green: #61AD14
		--blue: #2B99EA
		--red: #CD2740
		--gray: #2D2D32
		--yellow: #CDBF27
		--text: #959595
		--text-light: #A8A8A8
		--white: #F6F6F6
		--dark: #141415
		--border-dark: #0E0E10
		--border-light: #1E1E20
</style>
