---
import 'styles/font.css'
import 'virtual:windi.css'
import { ViewTransitions } from 'astro:transitions'
import Navigation from "components/Navigation"
import type { TokenPayloadType } from 'utils/auth'

type LayoutProps = {
  title: string
	user?: TokenPayloadType
}

const { title, user} = Astro.props as LayoutProps
const path = Astro.url.pathname

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="manifest" href="manifest.json" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions fallback="animate" />
	</head>
	<body class="bg-dark text-text overflow-y-auto! text-base">
		<Navigation username={user?.username} path={path} profileUrl={user?.profileUrl}/>
		<div id="app" class="absolute inset-0 top-12 pt-8 overflow-y-scroll scroll-smooth pl-2 ">
			<slot />
		</div>
	</body>
</html>

<style lang="sass" is:global>
	::selection 
		background: #ff6149a4
		color: #e6e6e6

	::-webkit-scrollbar
		width: 0.5rem
	::-webkit-scrollbar-thumb
		@apply bg-border-light rounded-sm
		&:hover
			@apply bg-primary

	.light-scrollbar
		&::-webkit-scrollbar
			@apply w-[0.2rem]
		&::-webkit-scrollbar-thumb
			@apply bg-gray
			&:hover
				@apply bg-primary

	::view-transition-old(root),
	::view-transition-new(root)
		animation-duration: 100ms

	body
		--primary: #AE4939
		--secondary: #D3543F
		--green: #61AD14
		--blue: #2B99EA
		--red: #CD2740
		--gray: #2D2D32
		--yellow: #CDBF27
		--text: #959595
		--text-light: #A8A8A8
		--white: #F6F6F6
		--dark: #141415
		--border-dark: #0E0E10
		--border-light: #1E1E20
</style>
